# Homework 0: Optional Intro to Python Data Science

This homework is an optional primer to how we will use python in this class. 

Sections 1-4 simply describe the fundamental Python concepts you should be familiar with, and link to external tutorials that may be valuable. There are empty code cells below each section for you to try out what you learn in the linked tutorials.

When you reach section 5, the tutorial becomes more hands-on and specific to this course, with useful coding examples included.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Helpful-Resources" data-toc-modified-id="Helpful-Resources-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Helpful Resources</a></span></li><li><span><a href="#Basics" data-toc-modified-id="Basics-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Basics</a></span><ul class="toc-item"><li><span><a href="#Jupyter-Notebooks" data-toc-modified-id="Jupyter-Notebooks-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Jupyter Notebooks</a></span></li><li><span><a href="#Basic-Coding" data-toc-modified-id="Basic-Coding-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Basic Coding</a></span></li></ul></li><li><span><a href="#Basic-Data-Structures" data-toc-modified-id="Basic-Data-Structures-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Basic Data Structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Dictionaries</a></span></li><li><span><a href="#Other-Groupings:-Strings,-Sets,-and-Tuples" data-toc-modified-id="Other-Groupings:-Strings,-Sets,-and-Tuples-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Other Groupings: Strings, Sets, and Tuples</a></span></li><li><span><a href="#Other-Useful-Functions-to-Know" data-toc-modified-id="Other-Useful-Functions-to-Know-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Other Useful Functions to Know</a></span></li></ul></li><li><span><a href="#NumPy" data-toc-modified-id="NumPy-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>NumPy</a></span><ul class="toc-item"><li><span><a href="#What-Is-a-Python-Package?" data-toc-modified-id="What-Is-a-Python-Package?-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>What Is a Python Package?</a></span></li><li><span><a href="#Learn-NumPy" data-toc-modified-id="Learn-NumPy-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Learn NumPy</a></span></li></ul></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Pandas</a></span><ul class="toc-item"><li><span><a href="#Reading-in-Your-Data" data-toc-modified-id="Reading-in-Your-Data-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Reading in Your Data</a></span></li><li><span><a href="#View-Your-Data" data-toc-modified-id="View-Your-Data-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>View Your Data</a></span></li><li><span><a href="#Basic-Data-Access" data-toc-modified-id="Basic-Data-Access-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Basic Data Access</a></span><ul class="toc-item"><li><span><a href="#Columns" data-toc-modified-id="Columns-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Columns</a></span></li><li><span><a href="#Rows" data-toc-modified-id="Rows-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>Rows</a></span></li><li><span><a href="#Single-Values-and-Slicing-Both-Ways-at-Once" data-toc-modified-id="Single-Values-and-Slicing-Both-Ways-at-Once-5.3.3"><span class="toc-item-num">5.3.3&nbsp;&nbsp;</span>Single Values and Slicing Both Ways at Once</a></span></li><li><span><a href="#Other-Ways-of-Indexing" data-toc-modified-id="Other-Ways-of-Indexing-5.3.4"><span class="toc-item-num">5.3.4&nbsp;&nbsp;</span>Other Ways of Indexing</a></span></li></ul></li><li><span><a href="#Data-Access:-Using-the-Sample-Table" data-toc-modified-id="Data-Access:-Using-the-Sample-Table-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Data Access: Using the Sample Table</a></span><ul class="toc-item"><li><span><a href="#Unique()" data-toc-modified-id="Unique()-5.4.1"><span class="toc-item-num">5.4.1&nbsp;&nbsp;</span>Unique()</a></span></li><li><span><a href="#Boolean-Series" data-toc-modified-id="Boolean-Series-5.4.2"><span class="toc-item-num">5.4.2&nbsp;&nbsp;</span>Boolean Series</a></span></li></ul></li><li><span><a href="#Basic-Statistics,-Math,-and-Sorting:-Glu-v-Fru-Example" data-toc-modified-id="Basic-Statistics,-Math,-and-Sorting:-Glu-v-Fru-Example-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Basic Statistics, Math, and Sorting: Glu v Fru Example</a></span><ul class="toc-item"><li><span><a href="#Results-DataFrame-and-DataFrame-Means" data-toc-modified-id="Results-DataFrame-and-DataFrame-Means-5.5.1"><span class="toc-item-num">5.5.1&nbsp;&nbsp;</span>Results DataFrame and DataFrame Means</a></span></li><li><span><a href="#Subtraction-and-Absolute-Value" data-toc-modified-id="Subtraction-and-Absolute-Value-5.5.2"><span class="toc-item-num">5.5.2&nbsp;&nbsp;</span>Subtraction and Absolute Value</a></span></li><li><span><a href="#Sort-the-DataFrame" data-toc-modified-id="Sort-the-DataFrame-5.5.3"><span class="toc-item-num">5.5.3&nbsp;&nbsp;</span>Sort the DataFrame</a></span></li><li><span><a href="#Connecting-to-Reality:-Adding-Gene-Information" data-toc-modified-id="Connecting-to-Reality:-Adding-Gene-Information-5.5.4"><span class="toc-item-num">5.5.4&nbsp;&nbsp;</span>Connecting to Reality: Adding Gene Information</a></span></li></ul></li></ul></li></ul></div>

## Helpful Resources

If you have never coded or used Python before, you should browse the following resources:

- [The official python tutorial](https://docs.python.org/3/tutorial/)
- [An introduction to programming for bioscientists](https://journals.plos.org/ploscompbiol/article/file?id=10.1371/journal.pcbi.1004867&type=printable) (easy to read and follow along)
- [W3schools, an excellent interactive tutorial](https://www.w3schools.com/python/default.asp)

The number one most valuable skill for programming is - surprisingly - knowing how to google exactly what you need. Most questions are already answered on Stack Overflow or in package documentation, but it there is a learning curve to finding and re-using this information correctly.

## Basics

### Jupyter Notebooks

[Learn about Jupyter Notebooks.](https://www.dataquest.io/blog/jupyter-notebook-tutorial/)

We will use two main types of cells: Markdown, which contains headings and paragraphs, and Code, which contains code. Switch types by selecting a cell and navigating to Cell -> Cell Type in the top toolbar. 

To run a code block, either click "Run" in the top toolbar or press Ctrl+Enter while typing in that block. 

All code cells have "In \[x\]:" to their left. While the cell is running, a star will appear in the brackets. If the code has already ran, the number in the bracket will count how many cells have been ran since the kernel started.

If jupyter notebook is misbehaving (unusual errors, very slow response times), try restarting the kernel by navigating to Kernel -> Restart in the top toolbar. All variables will be lost when you do this.

### Basic Coding

Be familiar with [if statements](https://www.w3schools.com/python/python_conditions.asp), [while](https://www.w3schools.com/python/python_while_loops.asp) and [for](https://www.w3schools.com/python/python_for_loops.asp) loops, and [functions](https://www.w3schools.com/python/python_functions.asp).

## Basic Data Structures

This section introduces the basic data structures built into python. You should be broadly familiar with what they are,

### Lists

[Learn the basics of lists.](https://docs.python.org/3/tutorial/introduction.html#lists)

[Understand the range function.](https://docs.python.org/3/tutorial/controlflow.html#the-range-function)

[More advanced: Try out pythonic list comprehensions.](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)

Lists are the simplest way to store a group of numbers in order in python. In BENG 212, we will tend to use more advanced data structures for storing our main data, but it is important to understand them because other data structures are built off of them. Lists themselves also are useful for two main reasons:

- If we need to store a simple set of numbers with no labels and no need for complex mathematics, the list syntax is the most convenient way to do so.
- Interfacing with functions, such as those for statistics and supervised learning, may require lists and will often return their output as lists.

Try out some of the examples from the links above in the code block below.

In [6]:
# Try making lists, growing them, and iterating through them! (use the links as a guide)
my_list = []

### Dictionaries

[Try out a dictionary tutorial.](https://www.w3schools.com/python/python_dictionaries_access.asp)

Dictionaries are a collection of items, where each item has a unique key (like the words in a dictionary, what you "look up") and value (like the definition in a dictionary). These are useful for mapping one thing to another; for example, you could use a dictionary to assign a color to each gene category, then look up that color with your dictionary as you plot. For now, just be comfortable creating a dictionary, accessing items, and adding new items.

### Other Groupings: Strings, Sets, and Tuples

[Strings](https://www.w3schools.com/python/python_strings.asp) are essentially lists of characters used for names and words. There are many useful built-in string functions for operations like capitalization and searching for substrings.

[Sets](https://docs.python.org/3/tutorial/datastructures.html#sets) are unordered lists that can't contain repeat elements. They are the most useful when we want to perform set operations like union and intersection. For example, you might have two sets of important genes, and want to know [which genes appear in both sets](https://www.w3schools.com/python/ref_set_intersection.asp). You can convert between sets and lists using their respective constructors (set() and list()).

[Tuples](https://docs.python.org/3/library/stdtypes.html#tuples) are the least commonly used sequence types. They use parentheses instead of brackets and cannot be modified the way that lists can. Don't worry about them too much, but be aware that they can be converted back to lists using the list() constructor.

For each of these, know how they are constructed and what they can be used for. When you run into an application for them in a problem or you find them as an output to a function, you can always pull up the documentation for them.

### Other Useful Functions to Know

- [type()](https://www.programiz.com/python-programming/methods/built-in/type): Returns the type of a variable, which is useful for debugging and understanding code.
- [isinstance()](https://www.programiz.com/python-programming/methods/built-in/isinstance): If you want to do something different to a variable depending on its type, you could create an if statement using this function. For example, you might have a list that combines numbers and strings, and you want to round all of the numbers to a specific number of decimals but do nothing to the strings.
- [zip()](https://www.geeksforgeeks.org/zip-in-python/#highlighter_116733): If you are iterating through two lists at once, you can zip them together, which creates a tuple-like object.
- [enumerate()](https://www.geeksforgeeks.org/enumerate-in-python/): Similarly, if you are iterating through a list and also want the number of iterations, you can use this function. This is the same as zip(range(len(my_list)), my_list).

## NumPy

### What Is a Python Package?

This is the first package we will introduce. Packages are made by developers to provide new classes and functions and empower you as a data scientist. You must have packages [installed on your computer](https://docs.python.org/3/installing/index.html) to use them, which can be done using the command line and a program called "pip". Numpy should have been included in your python installation, but other packages might not. The easiest way to check if a package is on your computer is to try to import it and see if it can't be found.

To bring a package into your notebook workspace, you use [the import command](https://realpython.com/python-import/). You can use the word "from" to specify parts of a package if you only need a function or two, and you can use the word "as" to give a package a nickname. It is pretty common to import numpy as np.

### Learn NumPy

NumPy is known for its arrays, which are like lists but support arithmetic and a ton of other functionality. It also has many other math functions, like random number generation, trigonometry, and tons more. This places it at the core of a lot of data science work in Python.

However, the drawback to NumPy is that it doesn't support labeling of rows and columns for its arrays the way that another package, Pandas, does. I encourage you to know how to use NumPy, but switch to Pandas for data storage and manipulation whenever possible in order to maintain smarter indexing. Under the hood, Pandas uses NumPy arrays - it is therefore important to know both and the distinction between them.

Follow along with this [excellent illustrated guide to NumPy](https://medium.com/better-programming/numpy-illustrated-the-visual-guide-to-numpy-3b1d4976de1d), or try the [W3schools tutorial](https://www.w3schools.com/python/numpy_intro.asp).

In [1]:
import numpy as np

# try creating arrays and playing around with them

## Pandas

This is the most useful package for this class, as it is the industry standard for storing labeled data. Check out [this tutorial](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) and the rest of the Pandas User Guide.

There are three main classes to be aware of:
- [pd.DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html?highlight=dataframe#pandas.DataFrame): This is a (usually) two-dimensional array with labels for the rows (index) and columns (columns). We'll use this most often.
- [pd.Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html?highlight=series#pandas.Series): This is the one-dimensional version of a DataFrame, which only has rows (index) and a single column name.
- [pd.Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.html?highlight=index#pandas.Index): The axis labels (rows and columns of DataFrames, rows of Series) are technically stored as Index datatypes. You won't need to work with this very often since manipulating the other two classes will automatically update their associated indices.

### Reading in Your Data

The majority of the homeworks in this class will use the same E. coli RNA sequencing dataset, which we call PRECISE 1 and was the subject of [this paper](https://www.nature.com/articles/s41467-019-13483-w). Download it from Canvas and save it in the same folder as this notebook (or modify the path below to point to your preferred location).

Open the file on your computer just to see what's inside. This is an excel file with several sheets. The first sheet, 'Summary', is a table of contents for the rest of the file. We are interested in the 'Expression Data'; we will learn the tools for analyzing this in class. We are also interested in the 'Experimental Conditions', since the only way to interpret our results is to understand what was done to the cells to induce the gene expression we observe. Finally, the 'Gene Information' sheet describes each gene, so it will help us interpret our results, too. Let's read in all three.

When you see a new function the first time, I recommend finding its documentation to learn exactly what it is doing and how else it can be used. [This is the Pandas function for reading excel files used below.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html) The toolbar on the left of the pandas documentation shows related functions, so you can also learn how to read in other file types. Note that we had to specify sheet names because the file contains multiple sheets, and we use 'index_col = 0' because the labels are in the 0th column of the sheets in all cases.

Pro tip: You can also view the documentation by pressing 'Shift + Tab' inside the parentheses of the function. This will only work if the package it's from has previously been imported. Use this any time you forget the order of inputs. [There are tons of useful jupyter shortcuts like this one.](https://medium.com/@rrfd/jupyter-notebook-shortcuts-tips-and-tricks-top-nbextensions-bring-order-to-your-notebooks-pt-1-b58f270963f9)

In [3]:
# import the pandas package
import pandas as pd

# read in the data
data = pd.read_excel('Homework_Data.xlsx', 
                     sheet_name = 'Expression Data',
                     index_col = 0)

sample_table = pd.read_excel('Homework_Data.xlsx',
                             sheet_name = 'Experimental Conditions',
                             index_col = 0)

gene_table = pd.read_excel('Homework_Data.xlsx',
                           sheet_name = 'Gene Information',
                           index_col = 0)

### View Your Data

To view an output in python, you have three options:

- return the output in the last code line of the cell. Under the hood, this calls display().
- print() it out: this is fast and produces a simple output, preferred for most data types
- display() it: this is preferred for pandas because it formats everything better

So, if you just want to see a DataFrame, you can use the first option and type its name in the cell (as I've done below). If you are running more complex code and want to display it in the middle of a cell execution, then you should use option 3.

Note that the shape of the DataFrame is viewable in the bottom left of these outputs - you could also show only the shape using ['data.shape'](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html). By default, pandas only shows 10 rows and 20 columns in these outputs. You can modify those settings to show more of the DataFrame using a command like [pd.set_option('display.max_rows', 200)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html?highlight=set_option#pandas.set_option). You can crash your browser by outputting too much data, however.

In [4]:
data

,base__wt_glc__1,base__wt_glc__2,fur__wt_dpd__1,fur__wt_dpd__2,fur__wt_fe__1,fur__wt_fe__2,fur__delfur_dpd__1,fur__delfur_dpd__2,fur__delfur_fe2__1,fur__delfur_fe2__2,...,rpoB__wt_lb__2,rpoB__rpoBE546V_031__1,rpoB__rpoBE546V_044__1,rpoB__rpoBE546V_lb__1,rpoB__rpoBE546V_lb__2,rpoB__rpoBE546V_glc__1,rpoB__rpoBE672K_glc__1,rpoB__rpoBE672K_glc__2,rpoB__rpoBE672K_lb__1,rpoB__rpoBE672K_lb__2
b0002,11.006777,11.130303,11.705085,11.888364,11.064951,10.779232,9.976561,10.291286,11.229957,11.214245,...,7.489847,10.188248,10.304740,8.177974,8.150298,10.927531,11.000981,10.999663,8.136954,8.154207
b0003,10.415779,10.523245,11.423968,11.803928,10.777126,10.597971,9.596992,10.191653,10.898128,10.861337,...,8.002871,9.737415,10.019916,8.108515,8.146578,10.293188,10.639809,10.638433,7.746108,7.673084
b0004,10.594996,10.725169,10.457404,10.779308,10.395113,10.114110,8.741777,9.082381,10.185341,10.164834,...,8.006288,9.916193,10.047979,8.034197,8.096981,10.247070,10.876158,10.882020,7.793896,7.822367
b0005,6.316225,6.258604,5.422259,5.336264,6.716210,6.411023,4.627102,4.756298,6.527841,6.136345,...,2.005866,6.028688,6.221017,3.292041,4.404625,7.551864,7.014460,7.019091,3.622154,4.223552
b0006,6.915894,6.897703,6.775777,6.782750,6.761954,6.816691,6.686925,6.860185,6.862335,6.817658,...,6.606902,6.958569,7.131878,7.011375,6.916578,6.882943,6.958771,7.071100,6.903703,6.795143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b4688,2.473267,2.498651,0.798125,0.823918,2.424054,2.138454,0.000000,0.741850,2.637325,2.687802,...,0.000000,1.564523,0.848379,0.000000,0.000000,3.175645,2.357293,0.000000,0.000000,0.000000
b4693,0.868970,1.426800,2.509295,2.168248,1.756031,2.136488,3.706387,3.290683,4.268871,4.252881,...,1.129557,2.490407,2.211672,2.490141,2.739155,2.260636,1.320209,1.796015,1.989279,1.731708
b4696_1,2.646606,2.545537,3.762534,3.639483,2.064642,2.014469,3.510175,3.327276,2.468861,2.432075,...,2.407559,2.731006,2.443753,1.802541,2.257490,2.402256,1.948501,1.554729,2.326432,1.807898
b4696_2,3.084833,3.148125,3.902075,3.997867,2.639225,2.200407,3.954130,3.917911,3.044833,3.115995,...,2.638285,3.124999,3.258820,3.227410,2.718594,2.406698,3.096639,3.117403,1.913497,2.105586
b4705,6.192737,4.744070,1.118211,1.150873,4.720938,4.211397,2.160077,1.046398,2.788759,3.595742,...,2.156118,1.351163,2.264639,0.000000,0.000000,5.469045,0.000000,0.000000,0.000000,0.000000

Shown above is the main dataset. We will learn how to analyze and visualize it throughout this class and the homeworks. You'll notice that:

- The rows correspond to genes. They are labeled by locus tag, which in E. coli is also called the "b number". The RNA sequencing pipeline counts nearly all the coding genes and pseudogenes, resulting in 3887 rows.
- The columns correspond to samples. Each column is a population of cells grown under a specific condition that has been RNA sequenced. These have a name that looks like xxx__yyyyy__z, where:
    - xxx (the part before the first double underscore) is the study or project name (largest grouping)
    - yyyyy (middle portion) is the condition name
    - z is the replicate number
- The elements are [log(TPM) values](https://rna-seqblog.com/rpkm-fpkm-and-tpm-clearly-explained/). They are nonnegative decimal numbers corresponding to how much the gene was expressed in the given condition. TPM refers to Transcripts Per Million total transcripts, so each column sums to approximately the same number. Gene expression tends to vary on a logarithmic scale, so the log has been taken in order to compare more linearly.

**Important Note:** In this class, we have genes as rows and columns as conditions, but some data scientists prefer to use the [transpose](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transpose.html) of this. When we move onto using some machine learning built-in functions, you will need to be prepared to transpose the dataset for using those functions. Having informative labels for the genes and conditions will help you to keep track of this.

In [5]:
sample_table

,Study,Condition ID,Replicate #,Strain Description,Base Media,Carbon Source (g/L),Nitrogen Source (g/L),Electron Acceptor,Trace Element Mixture,Supplement,Temperature (C),pH,Culture Type,Growth Rate (1/hr),Sequencing Machine,Additional Details,Biological Replicates,DOI,GEO
Sample ID,,,,,,,,,,,,,,,,,,,
base__wt_glc__1,Base,wt_glc,1,Escherichia coli K-12 MG1655,M9,glucose(2),NH4Cl(1),O2,sauer trace element mixture,NaN,37,7.0,Batch,NaN,MiSeq,NaN,2,doi.org/10.1101/080929,GSE65643
base__wt_glc__2,Base,wt_glc,2,Escherichia coli K-12 MG1655,M9,glucose(2),NH4Cl(1),O2,sauer trace element mixture,NaN,37,7.0,Batch,NaN,MiSeq,NaN,2,doi.org/10.1101/080929,GSE65643
fur__wt_dpd__1,Fur,wt_dpd,1,Escherichia coli K-12 MG1655,M9,glucose(2),NH4Cl(1),O2,NaN,DPD(0.2mM),37,7.0,Batch,0.000000,MiSeq,NaN,2,doi.org/10.1038/ncomms5910,GSE54900
fur__wt_dpd__2,Fur,wt_dpd,2,Escherichia coli K-12 MG1655,M9,glucose(2),NH4Cl(1),O2,NaN,DPD(0.2mM),37,7.0,Batch,0.000000,MiSeq,NaN,2,doi.org/10.1038/ncomms5910,GSE54900
fur__wt_fe__1,Fur,wt_fe,1,Escherichia coli K-12 MG1655,M9,glucose(2),NH4Cl(1),O2,NaN,FeCl2(0.1mM),37,7.0,Batch,1.060606,MiSeq,NaN,2,doi.org/10.1038/ncomms5910,GSE54900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
rpoB__rpoBE546V_glc__1,RpoB Knock-in,rpoBE546V_glc,1,Escherichia coli K-12 MG1655 rpoBE546V,M9,glucose(4),NH4Cl(1),O2,sauer trace element mixture,NaN,37,7.0,Batch,0.850000,MiSeq,NaN,1,doi.org/10.1016/j.cels.2016.04.003,GSE59377
rpoB__rpoBE672K_glc__1,RpoB Knock-in,rpoBE672K_glc,1,Escherichia coli K-12 MG1655 rpoBE672K,M9,glucose(4),NH4Cl(1),O2,sauer trace element mixture,NaN,37,7.0,Batch,0.880000,MiSeq,NaN,2,doi.org/10.1016/j.cels.2016.04.003,GSE59377
rpoB__rpoBE672K_glc__2,RpoB Knock-in,rpoBE672K_glc,2,Escherichia coli K-12 MG1655 rpoBE672K,M9,glucose(4),NH4Cl(1),O2,sauer trace element mixture,NaN,37,7.0,Batch,0.880000,MiSeq,NaN,2,doi.org/10.1016/j.cels.2016.04.003,GSE59377
rpoB__rpoBE672K_lb__1,RpoB Knock-in,rpoBE672K_lb,1,Escherichia coli K-12 MG1655 rpoBE672K,LB,NaN,NaN,O2,NaN,NaN,37,7.0,Batch,1.400000,MiSeq,NaN,2,doi.org/10.1016/j.cels.2016.04.003,GSE59377
rpoB__rpoBE672K_lb__2,RpoB Knock-in,rpoBE672K_lb,2,Escherichia coli K-12 MG1655 rpoBE672K,LB,NaN,NaN,O2,NaN,NaN,37,7.0,Batch,1.400000,MiSeq,NaN,2,doi.org/10.1016/j.cels.2016.04.003,GSE59377

Above is the sample_table, also called metadata, which describes each sample in the data. The rows here correspond to the columns in the dataset (both have a total of 102). For a description of what each column means, see the 'Summary' sheet in Homework_Data.xlsx.

In [6]:
gene_table

,gene_name,gene_product,COG,regulator,operon,start,end,strand
b0002,thrA,fused aspartate kinase/homoserine dehydrogenase 1,Amino acid transport and metabolism,"rpoD,arcA,crp,fnr,lrp",thrLABC,337.0,2799.0,+
b0003,thrB,homoserine kinase,Nucleotide transport and metabolism,"rpoD,arcA,crp,fnr,lrp",thrLABC,2801.0,3733.0,+
b0004,thrC,threonine synthase,Amino acid transport and metabolism,"rpoD,arcA,crp,fnr,lrp",thrLABC,3734.0,5020.0,+
b0005,yaaX,DUF2502 domain-containing protein YaaX,Function unknown,NaN,yaaX,5234.0,5530.0,+
b0006,yaaA,peroxide stress resistance protein YaaA,Function unknown,NaN,yaaA,5683.0,6459.0,-
...,...,...,...,...,...,...,...,...
b4688,ykgS,CP4-6 prophage%3B protein YkgS,Function unknown,NaN,ykgS,290510.0,290638.0,+
b4693,aaaE,phage terminase,Transcription,NaN,ymfTLMNR-beeE-jayE-ymfQ-ycfK-tfaP,1204401.0,1205537.0,+
b4696_1,ydeK,Unknown,No COG Annotation,NaN,ydeK,1594126.0,1597987.0,-
b4696_2,yneO_2,Unknown,No COG Annotation,NaN,ydeK,1592664.0,1594125.0,-
b4705,mntS,small protein MntS,No COG annotation,"rpoD,mntR,nac",rybA-mntS,852869.0,852997.0,-

Finally, this is the gene_table, which gives more information about each gene in the rows of the dataset. It is useful for gaining some quick information about any gene, or grouping genes together (often by COG). If you need more details on a gene, you should look it up in a database like [EcoCyc](https://ecocyc.org/). I recommend creating a free account there for this class.

### Basic Data Access

One of the most important skills you will develop in this class is the ability to easily navigate datasets in Pandas. This is surprisingly tricky, so it has been broken down very slowly in this section. [Here is a useful guide.](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

#### Columns

Pandas DataFrames are essentially stored as a list of columns, which means that you don't need any fancy member functions to access them. If there are no spaces in the column name and it doesn't conflict with any pandas member function names, then you can access a column with a simple dot. For example, if you want to know the expression value for all genes in the base wild type glucose condition replicate 1, you access its column like this:

In [5]:
data.base__wt_glc__1

b0002      7.629317
b0003      7.219668
b0004      7.343891
b0005      4.378073
b0006      4.793733
             ...
b4688      1.714338
b4693      0.602324
b4696_1    1.834487
b4696_2    2.138244
b4705      4.292478
Name: base__wt_glc__1, Length: 3887, dtype: float64

If the column has a space or its name conflicts with a function name (e.g. "sum"), you have to use bracket notation. For example, there are spaces in the sample_table columns, so we would use this notation to see the carbon sources for all samples:

In [6]:
sample_table['Carbon Source (g/L)']

Sample ID
base__wt_glc__1           glucose(2)
base__wt_glc__2           glucose(2)
fur__wt_dpd__1            glucose(2)
fur__wt_dpd__2            glucose(2)
fur__wt_fe__1             glucose(2)
                             ...
rpoB__rpoBE546V_glc__1    glucose(4)
rpoB__rpoBE672K_glc__1    glucose(4)
rpoB__rpoBE672K_glc__2    glucose(4)
rpoB__rpoBE672K_lb__1            NaN
rpoB__rpoBE672K_lb__2            NaN
Name: Carbon Source (g/L), Length: 102, dtype: object

You can also use bracket notation with a list to slice out multiple columns at once. Let's say you wanted all gene expression values, but only for the two base conditions:

In [8]:
# make your list
cols_of_interest = ['base__wt_glc__1', 'base__wt_glc__2']

# index into the dataframe
data[cols_of_interest]

         base__wt_glc__1  base__wt_glc__2
b0002           7.629317         7.714938
b0003           7.219668         7.294158
b0004           7.343891         7.434121
b0005           4.378073         4.338134
b0006           4.793733         4.781124
...                  ...              ...
b4688           1.714338         1.731933
b4693           0.602324         0.988983
b4696_1         1.834487         1.764432
b4696_2         2.138244         2.182114
b4705           4.292478         3.288338

[3887 rows x 2 columns]

#### Rows

To get a row, you should use the "loc" function. Loc has many uses, which can get quite confusing. First, note that it can take a single row index or a list of row indices, just like the bracket notation for columns.

In the first cell, we'll get the expression of the gene 'b0002' across all samples.

In the second cell, we'll get the expression of three genes across all samples.

In [9]:
data.loc['b0002']

base__wt_glc__1           7.629317
base__wt_glc__2           7.714938
fur__wt_dpd__1            8.113347
fur__wt_dpd__2            8.240386
fur__wt_fe__1             7.669640
                            ...
rpoB__rpoBE546V_glc__1    7.574388
rpoB__rpoBE672K_glc__1    7.625299
rpoB__rpoBE672K_glc__2    7.624386
rpoB__rpoBE672K_lb__1     5.640107
rpoB__rpoBE672K_lb__2     5.652065
Name: b0002, Length: 102, dtype: float64

In [10]:
rows_of_interest = ['b0002', 'b0003', 'b0004']
data.loc[rows_of_interest]

,base__wt_glc__1,base__wt_glc__2,fur__wt_dpd__1,fur__wt_dpd__2,fur__wt_fe__1,fur__wt_fe__2,fur__delfur_dpd__1,fur__delfur_dpd__2,fur__delfur_fe2__1,fur__delfur_fe2__2,...,rpoB__wt_lb__2,rpoB__rpoBE546V_031__1,rpoB__rpoBE546V_044__1,rpoB__rpoBE546V_lb__1,rpoB__rpoBE546V_lb__2,rpoB__rpoBE546V_glc__1,rpoB__rpoBE672K_glc__1,rpoB__rpoBE672K_glc__2,rpoB__rpoBE672K_lb__1,rpoB__rpoBE672K_lb__2
b0002,7.629317,7.714938,8.113347,8.240386,7.669640,7.471594,6.915225,7.133376,7.784013,7.773122,...,5.191566,7.061956,7.142701,5.668539,5.649356,7.574388,7.625299,7.624386,5.640107,5.652065
b0003,7.219668,7.294158,7.918491,8.181859,7.470134,7.345953,6.652128,7.064316,7.554007,7.528505,...,5.547168,6.749462,6.945277,5.620395,5.646778,7.134694,7.374954,7.374000,5.369193,5.318577
b0004,7.343891,7.434121,7.248520,7.471647,7.205343,7.010567,6.059338,6.295427,7.059941,7.045726,...,5.549536,6.873381,6.964728,5.568881,5.612399,7.102728,7.538778,7.542841,5.402317,5.422052

#### Single Values and Slicing Both Ways at Once

To get a single value, you can either:

- Access the column first, then use bracket notation
- Use loc with a comma

Which one you use is a personal preference, but I tend to use the first where possible because it requires a bit less typing. As a beginner, it might be easier to stick with loc. 

Let's say you want to know how much the gene b0004 is expressed in the base condition, replicate 1:

In [11]:
data.base__wt_glc__1['b0002']

7.62931651461589

In [13]:
data.loc['b0002', 'base__wt_glc__1'] # row, column

7.62931651461589

Let's say you have a more specific slice you want. You can pass lists to both parts of loc if desired:

In [14]:
data.loc[rows_of_interest, cols_of_interest]

       base__wt_glc__1  base__wt_glc__2
b0002         7.629317         7.714938
b0003         7.219668         7.294158
b0004         7.343891         7.434121

#### Other Ways of Indexing

You may want to be familiar with [iloc](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-integer), at, and iat. iloc, for example, allows you to index by number (as you would for lists and numpy arrays) instead of index names.

### Data Access: Using the Sample Table

Let's explore the information available to us in the sample table (for practice, you can try something similar with the gene table).

First, we can list the columns easily to know which features are known to us:

In [15]:
sample_table.columns

Index(['Study', 'Condition ID', 'Replicate #', 'Strain Description',
       'Base Media', 'Carbon Source (g/L)', 'Nitrogen Source (g/L)',
       'Electron Acceptor', 'Trace Element Mixture', 'Supplement',
       'Temperature (C)', 'pH', 'Culture Type', 'Growth Rate (1/hr)',
       'Sequencing Machine', 'Additional Details', 'Biological Replicates',
       'DOI', 'GEO'],
      dtype='object')

#### Unique()

We can think of many of these columns as categorical variables, which have a finite set of available options. Let's use the [unique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html) function to see which categories for Carbon Source exist in the dataset.

In [16]:
sample_table['Carbon Source (g/L)'].unique()

array(['glucose(2)', 'glucose(4)', 'acetate(3.5)', 'fumarate(2.8)',
       'glucose(5)', 'pyruvate(3.3)', 'acetate(2)', 'fructose(2)', nan],
      dtype=object)

So, each sample's Carbon Source may be one of: three concentrations of glucose (2, 4, and 5 g/L), two concentrations of acetate (2 and 3.5 g/L), or fumarate, pyruvate, or fructose. The last entry in the list, "nan", is short for "not a number", which is what Pandas uses to fill empty cells. In this case, it indicates that no carbon source was added to the base media. By the way, you can replace all nan's with another value using [fillna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html?).

The unique function is useful for knowing which options are available, and it can also be used to iterate through all options, as we will see in later sections.

You may also want to know how many samples fall into each category; this can be done easily with the [value_counts()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html?highlight=value_counts#pandas.DataFrame.value_counts) function:

In [17]:
sample_table['Carbon Source (g/L)'].value_counts()

glucose(2)       45
glucose(4)       35
acetate(2)        4
fructose(2)       4
acetate(3.5)      2
pyruvate(3.3)     2
glucose(5)        2
fumarate(2.8)     2
Name: Carbon Source (g/L), dtype: int64

#### Boolean Series

As shown above, there are 4 samples used fructose as a carbon source. Which samples are they, specifically? 

To find out, let's use the '==' operator to create a boolean (True/False) series for each sample. Note that the first equals sign is to assign this series to a variable, and the pair of equals signs compares each value in the column on the left to the value on the right.

In [18]:
uses_fructose = sample_table['Carbon Source (g/L)'] == 'fructose(2)'
uses_fructose

Sample ID
base__wt_glc__1           False
base__wt_glc__2           False
fur__wt_dpd__1            False
fur__wt_dpd__2            False
fur__wt_fe__1             False
                          ...
rpoB__rpoBE546V_glc__1    False
rpoB__rpoBE672K_glc__1    False
rpoB__rpoBE672K_glc__2    False
rpoB__rpoBE672K_lb__1     False
rpoB__rpoBE672K_lb__2     False
Name: Carbon Source (g/L), Length: 102, dtype: bool

In this series, each sample name is associated with a true/false value that indicates whether or not it uses fructose. We can use a series like this as a way of indexing! To get the names of the fructose-using samples, let's index into the row names themselves:

In [22]:
fructose_samps = sample_table.index[uses_fructose]
fructose_samps

Index(['cra_crp__wt_fru__1', 'cra_crp__wt_fru__2', 'cra_crp__delcra_fru__1',
       'cra_crp__delcra_fru__2'],
      dtype='object', name='Sample ID')

We can also use the boolean series with "loc" to get the rest of the sample table details about these samples:

In [20]:
sample_table.loc[uses_fructose]

,Study,Condition ID,Replicate #,Strain Description,Base Media,Carbon Source (g/L),Nitrogen Source (g/L),Electron Acceptor,Trace Element Mixture,Supplement,Temperature (C),pH,Culture Type,Growth Rate (1/hr),Sequencing Machine,Additional Details,Biological Replicates,DOI,GEO
Sample ID,,,,,,,,,,,,,,,,,,,
cra_crp__wt_fru__1,Cra/Crp,wt_fru,1,Escherichia coli K-12 MG1655,M9,fructose(2),NH4Cl(1),O2,aebersold trace element mixture,NaN,37,7.0,Batch,0.53,MiSeq,NaN,2,doi.org/10.1101/080929,GSE65643
cra_crp__wt_fru__2,Cra/Crp,wt_fru,2,Escherichia coli K-12 MG1655,M9,fructose(2),NH4Cl(1),O2,aebersold trace element mixture,NaN,37,7.0,Batch,0.53,MiSeq,NaN,2,doi.org/10.1101/080929,GSE65643
cra_crp__delcra_fru__1,Cra/Crp,delcra_fru,1,Escherichia coli K-12 MG1655 del_cra,M9,fructose(2),NH4Cl(1),O2,aebersold trace element mixture,NaN,37,7.0,Batch,0.69,MiSeq,NaN,2,doi.org/10.1101/080929,GSE65643
cra_crp__delcra_fru__2,Cra/Crp,delcra_fru,2,Escherichia coli K-12 MG1655 del_cra,M9,fructose(2),NH4Cl(1),O2,aebersold trace element mixture,NaN,37,7.0,Batch,0.69,MiSeq,NaN,2,doi.org/10.1101/080929,GSE65643

Lastly, let's say we want to get the gene expression data relating to these samples. In the data variable, samples are *columns*, even though they are rows in the sample table. The safest way to do this is to use the index names, instead of the boolean series.

In [25]:
fru_data = data[fructose_samps]
fru_data

,cra_crp__wt_fru__1,cra_crp__wt_fru__2,cra_crp__delcra_fru__1,cra_crp__delcra_fru__2
b0002,7.835301,7.688688,8.108317,8.041206
b0003,7.014402,7.101097,7.900230,7.893612
b0004,7.016143,6.899328,7.471183,7.386816
b0005,4.128200,4.271289,3.660925,3.924343
b0006,4.472146,4.615870,4.846699,4.821392
...,...,...,...,...
b4688,0.000000,1.268005,0.000000,0.000000
b4693,1.839114,1.445625,1.872467,2.028900
b4696_1,1.581827,1.552505,2.136073,2.242039
b4696_2,1.745700,1.945509,2.472103,2.256234
b4705,0.000000,1.307742,1.046738,0.956291

Let's repeat the above data access, but instead get the glucose(2) samples:

In [27]:
uses_glu2 = sample_table['Carbon Source (g/L)'] == 'glucose(2)' # boolean series
glu2_samps = sample_table.index[uses_glu2] # sample names
glu2_data = data[glu2_samps] # slice of data
glu2_data

,base__wt_glc__1,base__wt_glc__2,fur__wt_dpd__1,fur__wt_dpd__2,fur__wt_fe__1,fur__wt_fe__2,fur__delfur_dpd__1,fur__delfur_dpd__2,fur__delfur_fe2__1,fur__delfur_fe2__2,...,nac_ntrc__bw_delnac_cytd__2,nac_ntrc__bw_delnac_gln__1,nac_ntrc__bw_delnac_gln__2,nac_ntrc__bw_delnac_nh4__1,nac_ntrc__bw_delnac_nh4__2,ompr__wt_nacl__1,ompr__bw_delompr_nacl__1,ompr__bw_delompr_nacl__2,cra_crp__delcra_glc__1,cra_crp__delcra_glc__2
b0002,7.629317,7.714938,8.113347,8.240386,7.669640,7.471594,6.915225,7.133376,7.784013,7.773122,...,7.582810,7.139237,7.120299,7.982307,7.992733,5.927571,5.241910,5.251097,7.768612,7.800013
b0003,7.219668,7.294158,7.918491,8.181859,7.470134,7.345953,6.652128,7.064316,7.554007,7.528505,...,7.235787,6.801614,6.784171,7.594932,7.649324,6.059250,5.396705,5.435278,7.721704,7.674799
b0004,7.343891,7.434121,7.248520,7.471647,7.205343,7.010567,6.059338,6.295427,7.059941,7.045726,...,7.127754,6.788806,6.734994,7.630499,7.613657,5.391694,4.905536,4.847550,7.227646,7.310178
b0005,4.378073,4.338134,3.758424,3.698816,4.655322,4.443782,3.207263,3.296815,4.524755,4.253390,...,2.835923,2.888184,2.542888,4.085248,3.806096,2.152347,2.700117,2.871590,4.041135,4.025525
b0006,4.793733,4.781124,4.696611,4.701444,4.687029,4.724970,4.635023,4.755118,4.756608,4.725641,...,4.880251,4.944349,5.038410,4.912290,4.848897,4.238347,4.285009,4.360182,4.805900,4.811306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b4688,1.714338,1.731933,0.553218,0.571096,1.680226,1.482264,0.000000,0.514211,1.828054,1.863042,...,0.620424,0.000000,1.230012,0.000000,0.000000,0.798580,0.000000,0.000000,0.000000,0.618245
b4693,0.602324,0.988983,1.739311,1.502915,1.217188,1.480901,2.569072,2.280928,2.958956,2.947872,...,1.377430,1.232259,1.014440,1.123002,1.628627,1.944512,1.079706,0.766141,1.693128,1.616979
b4696_1,1.834487,1.764432,2.607990,2.522697,1.431101,1.396323,2.433068,2.306292,1.711284,1.685786,...,2.537078,2.537734,2.571499,1.813043,1.994967,2.523774,2.533935,2.260880,1.858779,1.923097
b4696_2,2.138244,2.182114,2.704712,2.771110,1.829371,1.525206,2.740794,2.715689,2.110518,2.159843,...,2.537078,2.537734,2.571499,1.813043,1.994967,2.738769,2.533935,2.260880,2.082040,2.032237
b4705,4.292478,3.288338,0.775085,0.797724,3.272305,2.919118,1.497251,0.725308,1.933021,2.492378,...,0.859645,0.000000,0.000000,0.000000,0.000000,2.803122,1.138273,0.000000,1.699145,1.311520

### Basic Statistics, Math, and Sorting: Glu v Fru Example

How does the choice of glucose versus fructose affect gene expression across all relevant conditions in the dataset?

We are already partway through answering this question, since we collected the data in section 5.1.2. Let's do a simple comparison of means - you'll explore more rigorous comparisons in the graded homeworks.

#### Results DataFrame and DataFrame Means

We'll start by computing the mean expression across *all columns* of both the fru_data and glu2_data. Think carefully about what this means: for each gene, we pool all conditions that have the given carbon source. 

To do this, use the [Pandas mean() function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html). By default, this function takes the mean down each column, but we want to take the mean across each row, so we pass the argument "axis = 1" to switch directions.

We'll save our results in a results DataFrame - this is a good way keep track of all your new computations in one place. Alternatively, you could have a bunch of separate Series. You wouldn't lose points for that approach, but it is a bit harder to keep it organized. 

Making the results DataFrame involves making a DataFrame nearly from scratch, which is covered in [this documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html). You don't need to populate it with values right away, but you should probably indicate what the indices and columns are from the get-go, as shown below.

In [30]:
fru_data.mean(axis = 1)

b0002      7.918378
b0003      7.477335
b0004      7.193367
b0005      3.996189
b0006      4.689027
             ...
b4688      0.317001
b4693      1.796527
b4696_1    1.878111
b4696_2    2.104886
b4705      0.827693
Length: 3887, dtype: float64

In [31]:
# set up your results dataframe
res_df = pd.DataFrame(index = data.index, # index is the same as data, i.e. one row for each gene
                      columns = ['glu2_avg', 'fru_avg']) # columns are the results (carbon source averages)

# fill in the glu2_avg column
res_df['glu2_avg'] = glu2_data.mean(axis = 1)
res_df['fru_avg'] = fru_data.mean(axis = 1)

# display the results
res_df

         glu2_avg   fru_avg
b0002    7.102886  7.918378
b0003    6.957513  7.477335
b0004    6.640754  7.193367
b0005    3.403781  3.996189
b0006    4.814655  4.689027
...           ...       ...
b4688    0.692460  0.317001
b4693    1.626249  1.796527
b4696_1  2.232605  1.878111
b4696_2  2.400382  2.104886
b4705    1.696125  0.827693

[3887 rows x 2 columns]

#### Subtraction and Absolute Value

As you can see above, some of the values are pretty close. It would be nice to know which genes are affected the most, which isn't clear yet. Let's get a metric for determining that - how about the difference between means?

Let's subtract one of our columns from the other, and make the result a new column in the dataframe:

In [32]:
res_df['difference'] = res_df.fru_avg - res_df.glu2_avg

res_df

         glu2_avg   fru_avg  difference
b0002    7.102886  7.918378    0.815492
b0003    6.957513  7.477335    0.519822
b0004    6.640754  7.193367    0.552614
b0005    3.403781  3.996189    0.592408
b0006    4.814655  4.689027   -0.125628
...           ...       ...         ...
b4688    0.692460  0.317001   -0.375459
b4693    1.626249  1.796527    0.170278
b4696_1  2.232605  1.878111   -0.354493
b4696_2  2.400382  2.104886   -0.295496
b4705    1.696125  0.827693   -0.868432

[3887 rows x 3 columns]

Since we want to know "which genes are affected most," we don't care if the genes are more highly expressed in glucose or in fructose. Therefore, we should take the [absolute value](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.abs.html). Again, save it as a new column:

In [33]:
res_df['abs_diff'] = res_df.difference.abs()

res_df

         glu2_avg   fru_avg  difference  abs_diff
b0002    7.102886  7.918378    0.815492  0.815492
b0003    6.957513  7.477335    0.519822  0.519822
b0004    6.640754  7.193367    0.552614  0.552614
b0005    3.403781  3.996189    0.592408  0.592408
b0006    4.814655  4.689027   -0.125628  0.125628
...           ...       ...         ...       ...
b4688    0.692460  0.317001   -0.375459  0.375459
b4693    1.626249  1.796527    0.170278  0.170278
b4696_1  2.232605  1.878111   -0.354493  0.354493
b4696_2  2.400382  2.104886   -0.295496  0.295496
b4705    1.696125  0.827693   -0.868432  0.868432

[3887 rows x 4 columns]

#### Sort the DataFrame

Now, let's sort the results by the abs_diff column so that the genes that change the most go to the top. We'll use the [sort_values() function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values) and pass "ascending = False" so that the largest differences show up first.

Here, we assign the result to the original DataFrame, replacing it in memory.

In [34]:
res_df = res_df.sort_values('abs_diff', ascending = False)

res_df

       glu2_avg   fru_avg  difference  abs_diff
b2169  3.174795  7.211384    4.036589  4.036589
b2168  3.918281  6.974588    3.056308  3.056308
b2167  4.494259  7.359883    2.865624  2.865624
b4245  5.902157  8.319012    2.416855  2.416855
b4244  5.978385  8.283478    2.305092  2.305092
...         ...       ...         ...       ...
b1511  2.790128  2.789732   -0.000396  0.000396
b4320  3.302079  3.302462    0.000383  0.000383
b1350  1.686470  1.686152   -0.000318  0.000318
b3129  4.005529  4.005690    0.000161  0.000161
b2208  1.623581  1.623594    0.000013  0.000013

[3887 rows x 4 columns]

The default pandas output above includes the 5 least changed genes, which is pretty useless. Let's use iloc to just grab the top 5 genes instead:

In [42]:
top_genes = res_df.iloc[0:5]
top_genes

       glu2_avg   fru_avg  difference  abs_diff
b2169  3.174795  7.211384    4.036589  4.036589
b2168  3.918281  6.974588    3.056308  3.056308
b2167  4.494259  7.359883    2.865624  2.865624
b4245  5.902157  8.319012    2.416855  2.416855
b4244  5.978385  8.283478    2.305092  2.305092

#### Connecting to Reality: Adding Gene Information

We have our top gene results above, so we technically know which genes react most strongly to a switch between glucose and fructose. We have "information", but no "knowledge". Let's add in some knowledge by finding the gene information relating to these genes:

In [43]:
top_genes_info = gene_table.loc[top_genes.index]
top_genes_info

,gene_name,gene_product,COG,regulator,operon,start,end,strand
b2169,fruB,fructose-specific PTS multiphosphoryl transfer...,Carbohydrate transport and metabolism,"rpoD,cra",fruBKA,2262365.0,2263495.0,-
b2168,fruK,1-phosphofructokinase,Nucleotide transport and metabolism,"rpoD,cra",fruBKA,2261427.0,2262365.0,-
b2167,fruA,fructose-specific PTS multiphosphoryl transfer...,Carbohydrate transport and metabolism,"rpoD,cra",fruBKA,2259719.0,2261410.0,-
b4245,pyrB,aspartate carbamoyltransferase catalytic subunit,Nucleotide transport and metabolism,"argR,nac,purR",pyrLBI,4471460.0,4472395.0,-
b4244,pyrI,aspartate carbamoyltransferase%2C PyrI subunit,Nucleotide transport and metabolism,"argR,nac,purR",pyrLBI,4470986.0,4471447.0,-

We can even combine the data and the gene details by [concatenating](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) them together, which can be a useful way to summarize all results in a table:

In [44]:
top_genes = pd.concat([top_genes, top_genes_info], axis = 1)
top_genes

,glu2_avg,fru_avg,difference,abs_diff,gene_name,gene_product,COG,regulator,operon,start,end,strand
b2169,3.174795,7.211384,4.036589,4.036589,fruB,fructose-specific PTS multiphosphoryl transfer...,Carbohydrate transport and metabolism,"rpoD,cra",fruBKA,2262365.0,2263495.0,-
b2168,3.918281,6.974588,3.056308,3.056308,fruK,1-phosphofructokinase,Nucleotide transport and metabolism,"rpoD,cra",fruBKA,2261427.0,2262365.0,-
b2167,4.494259,7.359883,2.865624,2.865624,fruA,fructose-specific PTS multiphosphoryl transfer...,Carbohydrate transport and metabolism,"rpoD,cra",fruBKA,2259719.0,2261410.0,-
b4245,5.902157,8.319012,2.416855,2.416855,pyrB,aspartate carbamoyltransferase catalytic subunit,Nucleotide transport and metabolism,"argR,nac,purR",pyrLBI,4471460.0,4472395.0,-
b4244,5.978385,8.283478,2.305092,2.305092,pyrI,aspartate carbamoyltransferase%2C PyrI subunit,Nucleotide transport and metabolism,"argR,nac,purR",pyrLBI,4470986.0,4471447.0,-

These top genes make sense! Let's discuss why:

- the top gene, fruB, is strongly overexpressed in fructose. It is a fructose transporter, assisting in getting fructose into the cell. This would have a clear use in the fructose condition, which makes sense.
- the next genes, fruK and fruA, are in the same operon as fruB and are also important for fructose metabolism.
- the pyrBI genes are less obvious, but an [EcoCyc search](https://biocyc.org/gene?orgid=ECOLI&id=EG10805) shows that they are involved in the UMP Biosynthesis pathway. You could therefore predict that fructose affects nucleotide synthesis.

Connecting some knowledge to your results is a critical step; just finding top genes is useless unless you can gain some insight from them.